* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: "Segoe UI", Arial, sans-serif;
    color: #333;
}
 
/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #cce0f1;
    position: sticky;
    top: 0;
}
 
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #7b1e1e;
}
 
.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}
 
.menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
 
.menu a:hover {
    color: #7b1e1e;
}
 
/* HERO */
.hero {
    height: 80vh;
    background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/krakow-old-town-main-square-at-dusk-artur-bogacki.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.hero-text {
    background: rgba(0, 0, 0, 0.5);
    color: #e7aec5;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}
 
.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}
 
/* CONTENT */
.content {
    padding: 60px 40px;
    max-width: 1100px;
    margin: auto;
}
 
.content h2 {
    margin-bottom: 20px;
    font-size: 32px;
}
 
/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
 
.card {
    background-color: #cce0f1;
    padding: 25px;
    border-radius: 10px;
}
 
/* FOOTER */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;

}
